%h1 Sales Reports

= form_with(url: sales_reports_path, method: :get, local: true) do
  %p
    = label_tag "Start Date:"
    = date_select :start, nil, start_year: 2000
  %p
    = label_tag "End Date:"
    = date_select :end, nil, start_year: 2000
  %p
    = submit_tag 'submit', class: 'btn btn-primary'
    = link_to 'clear', sales_reports_path, class: 'btn btn-info'

%hr/

%p.lead
  Total Sold:
  = @products.size.count
  %br/
  Revenue:
  = number_to_currency @order_items.sum(:price)


%table.table.table-striped.table-hover
  %tr
    %th Name
    %th Number Sold
    %th Number Returned
    %th Sold Total
    %th All Total Sales
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.order_items.sold.count
      %td= product.order_items.returned.count
      %td= number_to_currency product.order_items.sold.sum(:price)
      %td= number_to_currency product.order_items.sum(:price)

= will_paginate @products
